<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oqoqbobo.web.mapper.SecDictTypeExtendMapper" >

    <select id="queryList" parameterType="com.oqoqbobo.web.model.dictType.DictTypePO" resultType="com.oqoqbobo.web.model.dictType.DictTypeVO">
        SELECT sdt.*,
          DATE_FORMAT(sdt.create_time,'%Y-%m-%d %H:%i:%s') AS create_time_str,
          DATE_FORMAT(sdt.update_time,'%Y-%m-%d %H:%i:%s') AS update_time_str
         FROM sec_dict_type sdt
         <where>
             <if test="id != null and id != ''">
                 sdt.type_id = #{id}
             </if>
         </where>
         ORDER BY type_id DESC
    </select>

</mapper>
